<footer>
<a href="/"><img src="/assets/logo.svg" alt="Logo"></a>
<a href="/groups"><img src="/assets/group.svg" alt="group"></a>
<a href="/profile"><img src="/assets/user.svg" alt="user"></a>
</footer>
</body>
</html>