{% render 'partials/head.liquid'%}

<header class="header">
  <div class="header__top">
    <h1>Snappmaps</h1>
  </div>
  </header>

<ul class="snapmaps">

{% for snapmap in snapmaps %}

<li class="snapmap">
  <a href="/snappmap/{{ snapmap.name }}">

    <h2>{{ snapmap.name }}</h2>

    <div class="snapmap__row">

      <div class="snapmap__count">
        <span><img src="assets/gallery.svg" alt="snappmap-gallery"></span>
        <p>{{ snapmap.snaps.size }}</p>
      </div>

      <div class="snapmap__preview">
        {% for snap in snapmap.snaps limit:4 %}
          {% if snap.picture.id %}
            <img src="https://fdnd-agency.directus.app/assets/{{ snap.picture.id }}">
          {% endif %}
        {% endfor %}
      </div>

    </div>

  </a>
</li>

{% endfor %}

</ul>

{% render 'partials/foot.liquid' %}