{% render 'partials/head.liquid' %}

<header class="header">
  <section class="header-top">
    <h1>{{ snapmap.name }}</h1>
    <div class="header-icon"><img src="/assets/grid3.svg" alt="grid"></div>
  </section>

  <div class="header-sub">
    <span><img src="/assets/group.svg" alt="group"> {{ snapmap.group.name }}</span>
  </div>
</header>

<ul class="grid">
  {% for snap in snaps %}
    {% if snap.picture.id %}
      <li>
        <a href="/snapp/{{ snap.uuid }}">
          <img src="https://fdnd-agency.directus.app/assets/{{ snap.picture.id }}">
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% render 'partials/foot.liquid' %}
